@charset "UTF-8";

body {
min-width: 320px;
color: #666;
background-color: #eee;
font-family:"Lucida Grande", "segoe UI", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;
}
img {
max-width: 100%;
height: auto;
}


/*clearfix*/
/*clearfixはフロートした要素が親要素からはみ出してしまうのを回避するもの*/
.clearfix {
zoom: 1; /* IE 用 */
}
.clearfix:after {
content: "";
display: block;
clear: both;
}


#wrapper{
width:960px;
margin:0 auto;
background-color: #fff;
}


h1{
color: #fff;
}
h2{
margin-bottom:2em;
}
p{
line-height:1.8;
margin-bottom:2em;
text-shadow: 1px 1px 1px #fff;
}
.blanc{
color:#fff;
}

/* NAVIGATION*/
nav {
border-bottom: 1px solid #666;
background: #eee;
box-shadow: 0 1px 3px #666;
text-align: center;
}
nav ul {
margin: 0;
padding: 0;
}
nav ul li {
float: left;
width: 25%;
font-family: 'Marcellus SC', serif;
letter-spacing: 0.1em;
text-align: center;
text-shadow: 1px 1px 1px #000;
list-style:none;
}
.ie7 nav ul li{
width: 24.84375%;
}
nav ul li a {
display: block;
padding: 10px 0;
color: #fff;
text-decoration: none;
}

/* HEADER */

header {
width:auto;
color: #444;
background-color: #fff;
background-image:url("../images/header.jpg");
height:280px;
border-bottom: solid 1px #eee;
padding:10px;
}




/* MAIN */

main {
height: auto;
width:auto;
}

article{
padding:40px 80px;
}



/* FOOTER */

footer {
border-top: solid 1px #eee;
height: 200px;
padding:10px;
text-align:right;
}


/*Media Queries
----------------------------------------------------*/

@media screen and (min-width: 980px) {
/* 980px以上用（PC用）の記述 */
#wrapper{
width: 960px;
margin: 0 auto;
}
article{
padding:40px 80px;
}
}
@media screen and (min-width: 768px) and (max-width: 979px) {
/* 768px - 979px用（タブレット用）の記述 */
#wrapper{
width: 768px;
margin: 0 auto;
}
article{
padding:40px 80px;
}
}
@media screen and (min-width: 480px) and (max-width: 767px)  {
/* 480px - 767px用（タブレット／スマートフォン用）の記述 */
header {
height:120px;
background-image:url("../images/header_sp.jpg");
}
#wrapper{
width: 480px;
margin: 0 auto;
}
article{
padding:40px 20px;
}
}
@media screen and (max-width: 479px) {
/* 479px以下用（スマートフォン用）の記述 */
header {
height:120px;
background-image:url("../images/header_sp.jpg");
}
#wrapper{
width: 320px;
margin: 0 auto;
}
article{
padding:40px 20px;
}
nav ul li {
width: 25%;
float: none;
text-align:left;
}
nav ul li a {
display: block;
padding: 5px ;
color: #fff;
text-decoration: none;
}
}

